{  
   "slack_api":"xxx",
   "bot_name": "test",
   "bot_emoji": ":cat:",
   "bot_icon_url": "http://emojis.slackmojis.com/emojis/images/1467306358/628/pagerduty.png",
   "darksky_api":"***",
   "google_geocode_api":"***",
   "pager_duty_api":"***",
   "jira_api":{  
      "host":"***.atlassian.net",
      "username":"****",
      "password":"**"
   },
   "github":{  
      "username":"***",
      "password":"****"
   },
   "mta":"***",
   "modules_blacklist":[  

   ],
   "channels_blacklist":{
       "poop":["announcements"]
   },
   "node_env":"production",
   "port":80,
   "slack_verification_token":"****",
   "slack_access_token":"xoxp-***"
}
